[submodule "submodules/LLMsVerifier"]
	path = submodules/LLMsVerifier
	url = git@github.com:vasic-digital/LLMsVerifier.git
	branch = main
[submodule "submodules/containers"]
	path = submodules/containers
	url = git@github.com:vasic-digital/containers.git
[submodule "submodules/challenges"]
	path = submodules/challenges
	url = git@github.com:vasic-digital/challenges.git
